<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short url</title>
</head>
<body>
    <h1>Short URL</h1>
    
    <div style="text-align: right; margin: 10px;">
        <form action="/signout" method="POST">
            <button type="submit"
                style="padding: 10px; background-color: red; color: white; border: none; cursor: pointer;">
                Sign Out
            </button>
        </form>
    </div>
    <form action="/path/create_url" method="POST">
        <label style="margin: 10px;" for="originalUrl">Enter Your URL:</label><br/>
        <input style="margin: 10px; width: 600px;" type="text" name="originalUrl" placeholder="Enter URL to shorten" required><br/>
        <button style="margin: 10px;" type="submit">
            Generate Short URL
        </button>
    </form>
    <% if (urlData) { %>
        <div>
            <% if (urlData.statusCode == 200 || urlData.statusCode == 201) { %>
                <table style="margin: 10px; border-collapse: collapse; width: 80%;" border="1">
                    <thead>
                        <tr>
                            <th style="padding: 10px;">Short URL</th>
                            <th style="padding: 10px;">Original URL</th>
                            <th style="padding: 10px;">Created At</th>
                            <th style="padding: 10px;">Short URL Clicks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% urlData.data.forEach((url)=> { %>
                            <tr>
                                <td style="padding: 10px; text-align: center;">
                                    <%= url?.shortUrl %>
                                </td>
                                <td style="padding: 10px; text-align: center;">
                                    <a href="http://localhost:8005/path/<%= url.shortUrl %>">
                                        <%= url?.originalUrl %>
                                    </a>
                                </td>
                                <td style="padding: 10px; text-align: center;">
                                    <%= new Date(url?.createdAt).toLocaleString() %>
                                </td>
                                <td style="padding: 10px; text-align: center;">
                                    <%= url?.visitCount ?? 0 %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            <% } else if (urlData.statusCode == 500) { %>
                <h2 style="margin: 10px; color: red;">Error: <%= urlData?.error || 'internal server error' %></h2>
            <% } %>
        </div>
    <% } %>
</body>
</html>